@page "/Add"
@model Mangatheque.Web.UI.Pages.AddOneModel
@{
}
<h1>Ajouter un manga</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nom">Nom</label>
        <input placeholder="Nom" class="form-control" id="nom" asp-for="manga.Nom" />
        <label for="numero">Numero</label>
        <input placeholder="Numero" class="form-control" id="numero" asp-for="manga.Numero" />
        <label for="auteur">Auteur</label>
        <input placeholder="Auteur" class="form-control" id="auteur" asp-for="manga.Auteur" />
        <label for="genre">Genre</label>
        <input placeholder="Genre" class="form-control" id="genre" asp-for="manga.Genre" />
        <label for="datepub">Date de publication</label>
        <input class="form-control" id="datepub" asp-for="manga.DatePublication" />
    </div>
    <div class="form-group">
        <label for="file">Couverture</label>
        <input class="form-control form-control-file" id="file" type="file" asp-for="myFile" />
        <br />
    </div>
    <button class="btn btn-secondary" type="submit">Créer</button>
</form>

