@page 
@model Mangatheque.Web.UI.Pages.DeleteMangaModel
@{
}

<h1>Suppression</h1>

<p>Etes vous sur de vouloir supprimer cette itération ?</p>

<form method="post">
<button type="submit" class="btn btn-danger">Supprimer</button>
</form>