@page "/index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (@TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <i>@TempData["AlertMessage"]</i>
    </div>
}

<h1><b>Bienvenue</b></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="fashion_section_2">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                    <p>Cras dapibus non sem vitae pulvinar. Ut malesuada, urna sit amet sodales iaculis, est ante elementum quam, quis consequat neque tortor vitae massa. Integer id risus urna. Sed pretium hendrerit ante, quis dignissim lectus posuere nec. Praesent rutrum scelerisque odio sed rutrum. Sed vitae porta eros. Nulla vel finibus nulla. Cras tempus urna in odio rhoncus efficitur. Quisque risus nisl, interdum sit amet iaculis nec, elementum hendrerit est. Duis vel ipsum et ex bibendum euismod. Integer in porta leo. Duis placerat justo et justo convallis consectetur.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla dictum lorem eu diam interdum, et efficitur augue tincidunt. Pellentesque malesuada tellus quis orci suscipit commodo. Vivamus risus arcu, mollis in dolor ac, bibendum tincidunt felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam elementum enim sit amet quam dictum convallis. Maecenas eget nisi vehicula, porttitor velit sed, ornare neque. Nullam nec diam ante. Vivamus ullamcorper enim sed lectus facilisis iaculis. Sed a nunc ante. Nullam vitae nisl blandit, elementum leo nec, tincidunt tellus. Suspendisse sed vestibulum nibh. Nulla at nunc massa.
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                    Morbi elementum, orci in varius scelerisque, dui felis blandit diam, nec egestas eros leo at ipsum. Sed ut elit eu dolor dignissim rutrum. Aenean gravida mattis libero, in hendrerit nisl aliquam consequat. Nullam ut elit et magna hendrerit pharetra. Nulla interdum iaculis arcu ac vulputate. Integer sed nisi vel lacus mattis lacinia eu vel turpis. Fusce sit amet lectus leo.
                </div>
            </div>
        </div>
    </div>
