@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmez votre compte";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Vous allez recevoir un mail de confirmation afin de valider votre compte.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Vérifiez vos mails pour confirmer votre compte.
</p>
    }
}

